bright_theme = {
  name: "bright"
  theme-color-bright: #C43188
  theme-color: #A95378//#039be5
  theme-color-dark: #9B456A//#0277bd
  background-color: #ffffff
  accent-color: #FFB400
  accent-color-dark: #FF6C02
  error-color: #f17463
  black-color: #150A11//#3B402E
  grey-color-bright: #C4ACB9
  grey-color: #414550
  grey-color-dark: #AC92A1
  white-color: #ffffff
  font-title-color: #2B262D
  font-subject-color: #7C839C
  font-inverse-color: #ffffff
  font-text-color: #1C210E
  object-unfocus-color: #C4ACB9
  object-focus-color: #AC92A1
  grey-color-dark:#1D1E23
  black-background:#000000
}

dark_theme = {
  name: "dark"
  sidebar-color: #37474f
  background-color: #263238
  font-color-bright: #ffffff
  font-color-dark: #000000
}

themeList = (bright_theme dark_theme);
